[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"

[deploy]
startCommand = "loki -config.file=/etc/loki/loki-config.yaml"
healthchecks.httpGet.path = "/ready"
healthchecks.httpGet.port = 3100
