 [project]
name = "railway-grafana-stack"

[service.grafana]
rootDirectory = "grafana"
[service.grafana.build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"

[service.prometheus]
rootDirectory = "prometheus"
[service.prometheus.build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"
[service.prometheus.deploy]
startCommand = "prometheus --config.file=/etc/prometheus/prom.yml --storage.tsdb.path=/prometheus"
healthchecks.httpGet.path = "/-/healthy"
healthchecks.httpGet.port = 9090

[service.loki]
rootDirectory = "loki"
[service.loki.build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"
[service.loki.deploy]
startCommand = "loki -config.file=/etc/loki/loki-config.yaml"
healthchecks.httpGet.path = "/ready"
healthchecks.httpGet.port = 3100

[service.tempo]
rootDirectory = "tempo"
[service.tempo.build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"
[service.tempo.deploy]
startCommand = "tempo -config.file=/etc/tempo/tempo.yml"
healthchecks.httpGet.path = "/status"
healthchecks.httpGet.port = 3200

[service.fastapi_app]
rootDirectory = "examples/fastapi-app"
[service.fastapi_app.build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"
