global:
  scrape_interval: 15s # Default scrape interval

rule_files:
  - '/etc/prometheus/alert.rules.yml'

scrape_configs:
  - job_name: 'gatewayz_prod'
    scheme: https
    metrics_path: '/metrics'
    static_configs:
      - targets: ['api.gatewayz.ai']
        labels:
          env: 'production'
    scrape_interval: 15s
    scrape_timeout: 10s

  - job_name: 'gatewayz_staging'
    scheme: https
    metrics_path: '/metrics'
    static_configs:
      - targets: ['gatewayz-staging.up.railway.app']
        labels:
          env: 'staging'
    scrape_interval: 15s
    scrape_timeout: 10s
    bearer_token: 'gw_live_wTfpLJ5VB28qMXpOAhr7Uw'

  - job_name: 'redis_gateway'
    scheme: https
    metrics_path: '/metrics'
    static_configs:
      - targets: ['redis-production-bb6d.up.railway.app']
    scrape_interval: 30s
    scrape_timeout: 10s
