# Configuration file version
# See here fore more information on configuration:
# https://grafana.com/docs/grafana/latest/administration/provisioning/#example-data-source-configuration-file
apiVersion: 1

# Mark provisioned data sources for deletion if they are no longer in a provisioning file.
prune: false

# List of data sources to insert/update depending on what's available.
datasources:
  - name: Loki
    type: loki
    access: direct
    orgId: 1
    uid: grafana_lokiq
    url: ${LOKI_INTERNAL_URL}
    user:
    database:
    basicAuth:
    basicAuthUser:
    withCredentials:
    isDefault: true
    jsonData:
      derivedFields:
        - datasourceUid: grafana_tempo
          matcherRegex: "trace_id=(\\w+)"
          name: TraceID
          url: '$${__value.raw}'
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    uid: grafana_prometheus
    url: ${PROMETHEUS_INTERNAL_URL}
    user:
    database:
    basicAuth:
    basicAuthUser:
    withCredentials:
    isDefault: false
    jsonData:
      exemplarTraceIdDestinations:
        - datasourceUid: grafana_tempo
          name: trace_id
  - name: Tempo
    type: tempo
    access: proxy
    orgId: 1
    uid: grafana_tempo
    url: ${TEMPO_INTERNAL_URL}
    user:
    database:
    basicAuth:
    basicAuthUser:
    withCredentials:
    isDefault: false
    jsonData:
      tracesToLogsV2:
        datasourceUid: 'grafana_lokiq'
        spanStartTimeShift: '-1h'
        spanEndTimeShift: '1h'
        tags: ['service_name', 'compose_service']
        filterByTraceID: true
        filterBySpanID: false
      tracesToMetrics:
        datasourceUid: 'grafana_prometheus'
        spanStartTimeShift: '-1h'
        spanEndTimeShift: '1h'
        tags:
          - key: 'service.name'
            value: 'service_name'
      serviceMap:
        datasourceUid: 'grafana_prometheus'
      nodeGraph:
        enabled: true
      search:
        hide: false
      lokiSearch:
        datasourceUid: 'grafana_lokiq'